* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: navy;
}
.container {
	background: rgb(20, 150, 240);
	padding: 20px;
}

.imgBox {
	border-bottom: 5px solid #fff;
	display: flex !important;
	align-items: center !important;
	background: rgb(170, 200, 230);
	cursor: pointer;
}
.content {
	margin-left: 30px;
}

.singleMovieBox {
	display: flex !important;
	align-items: center !important;
	flex-direction: column;
}
.posterBox {
	margin-bottom: 50px;
	padding-top: 20px;
}
.contentBox {
	display: flex !important;
	flex-direction: row !important;
	align-items: left !important;
}
